<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DbTicketManagerConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=TicketManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ProjectDirectory" value="C:\AjithData\Project"/>
	</appSettings>
</configuration>